
.caja{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHMMYDWdkD_QbFBvaogBG72zqDTpMGPsPN_g&usqp=CAU) no-repeat center center fixed;
	background-size: cover
}

h1{
    font-style: oblique;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}
.menu{
    flex-wrap: wrap;
    display: flex;
    
}

ul.menu li{
    list-style: none;
    border: 1px solid whitesmoke;
    padding: 4px;    
    margin: 5px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 700;
    padding: 10px;
    color: white;
}


ul.menu li.activa{
    background-color: white;
    color: black;
    
}